@{
    ViewData["Title"] = "Aula 4º";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Aprenda Sobre <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-primary" role="alert">
  Gostou da Aula de hoje?
</div>

<button type="button" class="btn btn-primary">Gostei</button>  <button type="button" class="btn btn-danger">Não Gostei</button> 

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Endereço de Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Lembrar Senha</label>
  </div><br>

  

   <div class="form-group">
    <label for="exampleFormControlTextarea1">Comentário ou Sugestão sobre a Aula de Quarta Feira</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><br>
  
  <button type="submit" class="btn btn-warning">Enviar</button>

</form>